<%= render "navbar" %>
<%= render "banner", home: false, list: @list %>

<!-- Movies Section -->
<div class="container my-4">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <% @list.bookmarks.each do |list_bookmark| %>
        <%= render "bookmarkcard", bookmark: list_bookmark %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <%= render "bookmarkform", list: @list, bookmark: @bookmark %>
    </div>
  </div>
</div>
