// Specific CSS for your home-page

.banner-home {
  height: 320px;
  background-image: asset_url("cinema_room.jpg");
  background-size: cover;
  background-position: center;
}

.banner-list {
  height: 320px;
  background-image: url("https://cdn.wallpapersafari.com/29/24/4Vg92a.jpg");
  background-size: cover;
  background-position: center;
}
